<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Demo App</title>
    <meta name="description" content="A simple HTML5 Template for new projects.">
    <meta name="author" content="SitePoint">

    <meta property="og:title" content="A Basic HTML5 Template">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.sitepoint.com/a-basic-html5-template/">
    <meta property="og:description" content="A simple HTML5 Template for new projects.">
    <meta property="og:image" content="image.png">
</head>

<body style="background-color: rgb(207, 182, 235)">
<div style="text-align: center;">
    <br>
    <br>
    <br>
    <h1 style="font-family: 'Times New Roman', Times, serif">
        MongoDB + Flask + Azure Container App Demo
    </h1>
    <h3 style="font-family: 'Times New Roman', Times, serif">
        This tutorial will show you how to create a functional Flask application that connects to a MongoDB Atlas database,
        <br>
        implements CRUD (Create, Read, Update, and Delete) functionality, is containerized in Docker, and is hosted on Azure Container Apps.
    </h3>
</div>


</body>
</html>